@import url('https://fonts.googleapis.com/css2?family=Playwrite+CZ:wght@100..400&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    font-family: "Playwrite CZ", cursive;
    padding: 0;
    margin: 0;

}

a {
    color: #fff;
    text-decoration: none;
}

body {
    background-image: linear-gradient(to right, #01022d, #000);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contianer {
    background-image: linear-gradient(to right, #01022de5 30%, #00000082), url(WhatsApp\ Image\ 2026-01-17\ at\ 8.47.11\ PM.jpeg);
    width: 70%;
    height: 600px;
    background-position: center;

}

.contianer:hover {
    background-image: linear-gradient(to right, #01022de5 30%, transparent), url(WhatsApp\ Image\ 2026-01-17\ at\ 8.47.11\ PM.jpeg);

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

}

.logo {
    size: 30px;
    text-transform: uppercase;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    width: 60%;
}

ul a {
    border-bottom: 2px solid transparent;
}

ul a:hover {
    border-bottom: 2px solid #fff;
}

.content {
    color: #fff;
    width: 50%;
    margin-top: 50px;
    padding: 30px;

}
.content h2{
    font-size: 60px;
    text-transform: uppercase;

}
.content p{
    letter-spacing: 3px;
    width: 360px;
    padding: 20px 0;
}
.content button{
    font-size: 20px;
    padding: 6px 10px;
    border-radius: 10px;
    border: 2px solid transparent;
    cursor: pointer;
}
.content button:hover{
    border-color:  #fff;
    background-color: transparent;
    color: #fff;


}
